<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>User Profile</title>
</head>
<body>
<h1>User Profile</h1>
<table>
    <tr>
        <th>Name</th>
        <td th:text="${user.name}"></td>
    </tr>
    <tr>
        <th>Last Name</th>
        <td th:text="${user.lastName}"></td>
    </tr>
    <tr>
        <th>Title</th>
        <td th:text="${user.title}"></td>
    </tr>

</table>
<br>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>